  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm width  colorz">
      <div class="mynav ">
        <a routerLink="./products"  class="navbar-brand d-flex align-items-center color"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" 
          height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
           stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
           class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">

           </path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Album</strong>
        </a>

<div class="drop">
  <div class="dropdown">
    <a 
    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    routerLink="./cart" >
  <span class="material-icons color" style="cursor: pointer">
    shopping_cart
    </span> 
    </a>
  <span class="added">3</span>
   
    <!-- <div class="dropdown-menu cart" aria-labelledby="dropdownMenuLink">
      <div class="linkestyle" ><a class="badge badge-light " >Go to cart</a></div>
     
      
    </div> -->
  </div>



<div class="dropdown ">
  <a 
  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
>
   <div class="profile">
    <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg" alt="">
  </div>
  </a>

 
  <div class="dropdown-menu edit" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">View profile</a>
    <a class="dropdown-item" href="#">Sign out</a>
  </div>
</div>
</div>

      </div>
    </div>
  </header>

