.cart{
    height: 60vh;
    text-align: center;
}
.inputz{
    width: 30%;
    display: flex;
    align-items: center;
    
}
.btnx{
  border: none;
 background-color: transparent;
 color: rgb(53, 43, 43)
}
.btnz{
    font-weight: 600;
    color: black;
}
.btnx:hover{
    color: royalblue;
}
input{
    width: 200%;
    height: 75%;
    
}
.amount{
    background-color: royalblue;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}